<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AICS</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">

  <style>
    body,
    html {
      width: 100%;
      height: 100%;
    }

    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: rgb(244, 245, 246);
    }

    navbar {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
    }
  </style>
</head>

<body>
  <navbar class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <a class="navbar-brand" href='/'>Sabre</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <% if(currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report">Report</a>
          </li>
          <% } %>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Create Account</a>
          </li>
          <% } else { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <%= currentUser.username || 'username' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/dashboard">Dashboard</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </navbar>


  <!-- 
.container
a.navbar-brand(href='/')
i.fas.fa-cube
| Project name
button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
span.sr-only Toggle navigation
span.navbar-toggler-icon
.collapse.navbar-collapse
ul.nav.navbar-nav
li.nav-item(class=(title === 'Home') ? 'active' : undefined)
a.nav-link(href='/') Home
li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
a.nav-link(href='/api') API Examples
li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
a.nav-link(href='/contact') Contact
li.nav-item(class=(title === 'Status') ? 'active' : undefined)
a.nav-link(href='/status') Status
ul.nav.navbar-nav.ml-auto
if !user
li.nav-item(class=(title === 'Login') ? 'active' : undefined)
a.nav-link(href='/login') Login
li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
a.nav-link(href='/signup') Create Account
else
li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
if user.profile.picture
img(src=user.profile.picture)
else
img(src=user.gravatar(60))
span= user.profile.name || user.email || user.id
i.caret
ul.dropdown-menu
li.dropdown-item
a(href='/account') My Account
li.divider.dropdown-item
li.dropdown-item
a(href='/logout') Logout-->