<%- include ./../partials/header.ejs %>

<div style='margin-top: 2%' class='container'>
  <h1>Family Details</h1>

  <h1><%= user %></h1>

  <form action='/addFamily' method='POST'>
    <input type='text' name='name' placeholder='name'>
    <input type='number' name='age' placeholder='age'>
    <button>Add</button>
  </form>

  <a href='/search'>Search Page</a>
  <br>
  <a href='/report'>Report Page</a>
</div>