<%- include ./../partials/header.ejs %>

<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">AICS</h1>
    <h3 class="mb-5">
      <em>AI to keep children safe</em>
    </h3>
    <a class="btn btn-info btn-xl js-scroll-trigger" href="/login">Get Started</a>
  </div>
</header>

</body>

</html>