<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sabre</title>


  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
    type='text/css' />
  <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
    type='text/css' />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
      width: 100%;
    }
  </style>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">

  <style>
    body,
    html {
      width: 100%;
      height: 100%;
    }

    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: rgb(244, 245, 246);
    }

    navbar {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
    }
  </style>
</head>

<body>
  <%- include ./../partials/navbar.ejs %>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
  <div id='map'></div>

  <br>
  <br>
  
  <div class='container'>
    <div class='row'>
        <div class="col-md-9">
        <div id='map'></div>
        </div>
    </div>

    
  </div>


  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2ticm8iLCJhIjoiY2syMjgxY3A5MXJpcjNpdGV6azVvaGRpaiJ9.oNlBtgHYmZNsXw3IOBd0mw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [78.6569, 22.9734],
      zoom: 4
    });
    var draw = new MapboxDraw({
      displayControlsDefault: false,
    });
    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      countries: 'IN',
      limit: 10
    });
    var geolocate = new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    });
    // directions
    let directions=new MapboxDirections({
       accessToken: mapboxgl.accessToken
    });
    
    
    // Current Location
    map.addControl(geolocate);
    map.addControl(directions);
    map.on('load', function() {
        directions.setDestination([85.824539,20.296059]);
        var lat,long;
        navigator.geolocation.getCurrentPosition(function(position) {
    		lat = position.coords.latitude;
    		long = position.coords.longitude;
    		directions.setOrigin([long,lat]);
    		map.flyTo({ center: [long,lat], zoom: 14 });
    	});
    	

    });
    var popup = new mapboxgl.Popup({closeOnClick: false})
     .setLngLat([85.824539,20.296059])
     .setHTML('<h6>Lost Person!</h6>')
     .addTo(map);
 
  </script>

  <script>
    $("#searchForm").submit((e) => {
      e.preventDefault();
      const data = geolocate._lastKnownPosition;
      //   console.log(data.Position);
      if (!data) {
        alert("Mark your current location on the map");
        return false;
      }
     

  });

      
  </script>
  

</body>

</html>
