<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sabre</title>


  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
    type='text/css' />
  <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
    type='text/css' />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      height: 500px
    }
  </style>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">

  <style>
    body,
    html {
      width: 100%;
      height: 100%;
    }

    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: rgb(244, 245, 246);
    }

    navbar {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
    }
  </style>
</head>

<body>
  <%- include ./../partials/navbar.ejs %>

  <br>
  <br>
  
  <div class='container'>
    <div class='row'>
      <div class="col-md-3">
        <form id="searchForm">
          <div class="form-group">


          </div>
          <div class="form-group">
            <label for="Name">Name</label>
            <input class='form-control' id='name' type='text' name='name'>
          </div>
          <div class="form-group">
            <label for="_email">Email</label>
            <input required type="email" id="_email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="contactno">Contact Number</label>
            <input required type="number" id="contactno" name="contactno" class="form-control">
          </div>
          <!-- <div class="form-group">
            <label for="Family Name">Family Name</label>
            <input class='form-control' value="" id='familyname' type='text' name='familyname'
              placeholder='Family Name(optional)'>
          </div> -->
          <div class="custom-file mb-3">
            <input type="file" required class="custom-file-input" id="customFile" name="recentImg">
            <label class="custom-file-label" for="customFile">Person Image</label>
          </div>

          <button id="reportBtn" type='submit' class='form-control btn btn-primary'>Inform Family</button>
        </form>
      </div>
      <div class="col-md-9">
        <div id='map'></div>
      </div>
    </div>

    <div class="row">
      <div style="text-align: center;" id="information" class="col-md-12">

      </div>
    </div>
  </div>


  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2ticm8iLCJhIjoiY2syMjgxY3A5MXJpcjNpdGV6azVvaGRpaiJ9.oNlBtgHYmZNsXw3IOBd0mw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [78.6569, 22.9734],
      zoom: 4
    });
    var draw = new MapboxDraw({
      displayControlsDefault: false,
    });
    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      countries: 'IN',
      limit: 10
    });
    var geolocate = new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    });

    // Current Location
    map.addControl(geolocate);
    geolocate.on('geolocate', function (e) {
      console.log(e.coords.latitude);
      map.flyTo({
        center: [e.coords.longitude, e.coords.latitude],
        zoom: 16 //set zoom 
      });
    });
  </script>

  <script>
    $("#searchForm").submit((e) => {
      e.preventDefault();
      const data = geolocate._lastKnownPosition;
      //   console.log(data.Position);
      if (!data) {
        alert("Mark your current location on the map");
        return false;
      }

      $('#reportBtn').prop('disabled', true);

      const file = $('#customFile')[0].files[0];
      const fd = new FormData();
      fd.append('image', file);
      fd.append('latitude', data.coords.latitude);
      fd.append('longitude', data.coords.longitude);
      fd.append('name', $("#name").val());
      fd.append('email', $("#_email").val());
      fd.append('contactno', $("#contactno").val());

      $.ajax({
        type: "POST",
        url: "/report",
        data: fd,
        processData: false,
        contentType: false,
        success: function (res) {
          $('#reportBtn').prop('disabled', false);
          console.log(res);
          if (!res.status || res.status !== 200) {
            return alert("Server Error");
          }

          let familyContact = '';
          res.familyContact.forEach((val, ind) => {
            familyContact+=`
              <tr>
                <th scope="row">${ind+1}</th>
                <td>${val.name}</td>
                <td>${val.contact}</td>
              </tr>`;
          });

          $("#information").append(`
            <h1>Missing Person's Family Information</h1>

            <h2>Email: ${res.userEmail}</h2>

            <h2><strong>Contact Information</strong></h2>
            
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact No</th>
                </tr>
              </thead>
              <tbody>
                ${familyContact}
              </tbody>
             </table>
          `);
        },
        fail: function (err) {
          console.log(err);
        }
      });


    });
  </script>
  <script>
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>


</body>

</html>