body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url('./../bg3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}